NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Supabase S3
SUPABASE_S3_URL=http://127.0.0.1:54321/storage/v1/s3
SUPABASE_ACCESS_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_REGION=local
